# .env.example
# Copy this file to .env and fill in the values

# Facebook cookies (JSON format or specific fields)
FB_COOKIES=''

# Instagram cookies
IG_COOKIES=''

# URLs to scrape (Esempio: https://www.instagram.com/p/C6.../)
FB_POST_URL=''
IG_POST_URL='https://www.instagram.com/p/CT_...'
IG_HASHTAG='ConPENNYVinciIDAYSMilanoCocaCola'
FB_HASHTAG='NataleInStilePENNY'
