# AWS Configuration
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=eu-south-1
AWS_S3_BUCKET=your-bucket-name

# EUROBET Configuration
EUROBET_SOURCE_URL=https://external-api-flow.com/data.json
EUROBET_S3_KEY=eurobet/data.json
